@model Blockchain_MyEtherWallet.Models.User

@{
    ViewBag.Title = "Create New Wallet";
}
<h2>@ViewBag.Title</h2>

@if (ViewBag.Account != "")
{
    <p style="color:red;">You are logged in, please kindly log out to create new wallet</p>
    using (@Html.BeginForm("Logout", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Log out</button>
    }
}
else
{
    using (@Html.BeginForm("CreateWallet", "Home", FormMethod.Post))
    {

        @Html.AntiForgeryToken()

        <h5 style="color:red;">@ViewBag.Alert</h5>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            @Html.TextBoxFor(s => s.Email, "", new { @type = "email", @class = "form-control", @placeholder = "Email" })
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            @Html.TextBoxFor(s => s.Password, "", new { @type = "password", @class = "form-control", @placeholder = "Password" })
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    }
}
