@model Blockchain_MyEtherWallet.Models.TransactionsInWallet

@{
    ViewBag.Title = "Transfer";
}
<h2>@ViewBag.Title</h2>

@if (ViewBag.Account == "")
{
    <p style="color:red;">You are not logged in</p>
    using (@Html.BeginForm("Login", "Home"))
    {
        <button type="submit" class="btn btn-primary">Login</button>
    }
}
else
{
    using (@Html.BeginForm("TransferClick", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <h5 style="color:red;">@ViewBag.Alert</h5>
        <div class="form-group">
            <label>Target email</label>
            @Html.TextBoxFor(s => s.WalletName, "", new { @type = "email", @class = "form-control", @placeholder = "Target email" })
        </div>
        <div class="form-group">
            <label>Amount</label>
            @Html.TextBoxFor(s => s.WalletBalance, "", new { @type = "number", @class = "form-control", @placeholder = "Amount" })
        </div>

        <button type="submit" class="btn btn-primary">Send</button>
    }
}